.product-details {
    border-top: 1px solid rgba(var(--clr-brown), 0.3);
    align-items: center;
  }
  .remove-cart-btn{
   padding: .25rem .25rem;
   margin-top: 1rem;
  }
  .cart-icon {
    background-color: rgb(var(--clr-brown));
  }
  .h-card {
    padding: 0.5rem !important;
  }
  .icon-div{
    color: var(--clr-gray-light);
  }
  .icon-div:hover{
    color: rgb(var(--clr-brown));
  }
  .home-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem auto;
  }
  .card-btn-container {
    padding-left: 1rem;
}
.card-btn-container >button>a{
  text-decoration: none;
  }
  .cg-card{
    background: var(--clr-white);
    width: max-content;
    padding: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    
  }
  .h-card-img:hover{
    transform: scale(1.075);
    transition: .2s ease-in-out;
    cursor: pointer;
  }
  .rated {
    color: var(--clr-white);   
    font-size: 12px;
  }
  
  .ratings{
    display: flex;
    align-items: center;
    border-radius: 4px;
    max-width: max-content;
    padding: .125rem .25rem;
  }
  .ratings > span {
    cursor: pointer;
  }
  
  @media (min-width: 768px) {
    .product-img {
      width: 15rem;
      height: 12rem;
    }
    .home-cards {
      gap: 2rem;
    }
    .h-card {
      flex-direction: row;
      padding: 2rem !important;
    }
  }
