.navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
  }
  .navbar ul {
    list-style: none;
  }
  
  .nav-options li {
    opacity: 0.7;
  }
  .nav-options li:hover {
    opacity: 1;
  }
  
  .nav-icons {
    display: flex;
  }
  .nav-icons a,.form-btn a, .nav-options a{
    text-decoration: none;
  }

  .number-count {
    width: .85rem;
    height: .85rem;
    background:  var(--clr-white);
    color:rgb(var(--clr-brown));
    padding: .25rem;
    font-size: 10px;
}
  .pointer{
  cursor:pointer;
  }
  
  @media (min-width: 768px) {

    .navbar {
      flex-wrap: nowrap;
    }}
