.payment-method-container{
    display: flex;
    justify-content: center;
}
.payment-method-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.payment-method-form >h4{
    padding-inline: 1rem;
    margin-top: 1rem;
}
.payment-method-label{
     display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 1rem .5rem;
}
.payment-method-label > input{
    accent-color: rgb(var(--clr-brown));
}
@media (min-width: 768px) {
    .payment-method-form {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .payment-method-form {
        width: 25%;
    }
}
