@import url('https://minimali-ui.vercel.app/css/components.css');
:root {
  --clr-brown: 155, 122, 80;
  --clr-cream: #ffe4c6;
  --clr-linen: #fff4e8;
  --clr-bg: #fbf5f3;
  --clr-yellow-tint: ##f5f0e1;
}
/* reset CSS*/
* {
  box-sizing: border-box;
}
body,h1,h2,h3,h4,figure,picture,p {
  margin: 0;
}
h1,h2,h3,h4,p {
  font-weight: 400;
}
body {
  background-color: var(--clr-linen);
  line-height: 1.5;
  min-height: 100vh;
  margin-inline: auto;
  font-family: "Roboto", sans-serif;
}

img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}

.ff-title {
  font-family: "Pacifico", cursive;
}
.ff-title a{
  text-decoration: none;
}

.bg-brown {
  background-color: rgb(var(--clr-brown)) !important;
}
